@font-face {
    font-family: 'Pretendard-Regular';
    font-style: normal;
    font-weight: normal;
    src: local(''),
         url('./fonts/Pretendard-Regular.ttf') format('truetype');
  }
@font-face {
    font-family: 'Pretendard-SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local(''),
         url('./fonts/Pretendard-SemiBold.ttf') format('truetype');
  }
@font-face {
    font-family: 'Pretendard-Bold';
    font-style: normal;
    font-weight: normal;
    src: local(''),
         url('./fonts/Pretendard-Bold.ttf') format('truetype');
  }
@font-face {
    font-family: 'GothicA1';
    font-style: normal;
    font-weight: normal;
    src: local(''),
         url('./fonts/GothicA1-Regular.ttf') format('truetype');
  }
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: normal;
    src: local(''),
         url('./fonts/NotoSansKR-Regular.ttf') format('truetype');
  }
@font-face {
    font-family: 'NotoSerif';
    font-style: normal;
    font-weight: normal;
    src: local(''),
         url('./fonts/NotoSerifKR-Regular.ttf') format('truetype');
  }
@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: normal;
    src: local(''),
         url('./fonts/NanumBarunGothic.ttf') format('truetype');
  }
