$breakpoint: 992px !default;
$scale: 14px !default;

@import './_fonts';
@import './_layout_light';
@import './_layout_dim';
@import './_layout_dark';
@import './_main';
@import './_sidebar_vertical';
@import './_sidebar_slim';
@import './_sidebar_slim_plus';
@import './_sidebar_horizontal';
@import './_sidebar_reveal';
@import './_sidebar_drawer';
@import './menutheme/_menutheme';
@import './_responsive';
@import './_topbar';
@import './_breadcrumb';
@import './_profile';
@import './_config';
@import './_content';
@import './_typography';
@import './_utils';

.p-confirm-dialog {
  min-width: 328px;
  .p-confirm-dialog-message {
    margin-left: 0 !important;
  }
}
.p-dialog {
  .p-dialog-footer {
    button:last-child {
      margin-right: 0 !important;
    }
  }
}
.dialog-w-sm {
  width: 100%;
  max-width: 328px;
}
.dialog-w-md {
  width: 380px;
  max-width: calc(100% - 40px);
}
.dialog-w-lg {
  width: 600px;
  max-width: calc(100% - 40px);
}
.dialog-w-xlg {
  width: 900px;
  max-width: calc(100% - 40px);
}

.ico-circle {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: no-repeat 0 0;
  background-size: 100% auto;
  &-apple {
    background-image: url(/images/ico-apple.svg);
  }
  &-google {
    background-image: url(/images/ico-google.svg);
  }
  &-naver {
    background-image: url(/images/ico-naver.svg);
  }
  &-kakao {
    background-image: url(/images/ico-kakao.svg);
  }
}

.card {
  .ql-editor {
    &.ql-blank::before {
      font-style: normal !important;
      color: #64748b;
      font-family: var(--font-family);
      font-size: 1rem;
    }
  }
}

.surface-ground-type02 {
  background: #f8fafc;
}

.reply-wrap {
  .reply-wrap-cont {
    position: relative;
    background: #fafafa;
    padding-left: 1.5rem !important;
    margin-bottom: 0 !important;
    border: 0 !important;
    border-top: 1px solid #dfe7ef !important;
    border-radius: 0 !important;
    &:last-child {
      border-radius: 0 0 6px 6px !important;
    }
    &:after {
      display: block;
      width: 8px;
      height: 8px;
      border: 1px solid var(--surface-500);
      border-width: 0 0 1px 1px;
      content: '';
      position: absolute;
      left: 1rem;
      top: 1rem;
    }
  }
}

.mt-25 {
  margin-top: 0.75rem !important;
}
.min-h-3rem {
  min-height: 3rem !important;
}
@media screen and (min-width: 576px) {
  .sm\:mt-25 {
    margin-top: 0.75rem !important;
  }
  .sm\:min-h-3rem {
    min-height: 3rem !important;
  }
}
@media screen and (min-width: 768px) {
  .md\:mt-25 {
    margin-top: 0.75rem !important;
  }
  .md\:min-h-3rem {
    min-height: 3rem !important;
  }
}
@media screen and (min-width: 992px) {
  .lg\:mt-25 {
    margin-top: 0.75rem !important;
  }
  .lg\:min-h-3rem {
    min-height: 3rem !important;
  }
}
.p-selectbutton.secondary {
  .p-button {
    &.p-highlight {
      background: #64748b;
      border-color: #64748b;

      .p-button-icon-left,
      .p-button-icon-right {
        color: #64748b;
      }

      &:hover {
        background: #64748b;
        border-color: #64748b;

        .p-button-icon-left,
        .p-button-icon-right {
          color: #64748b;
        }
      }
    }
  }
}
.p-tabview {
  &.p-tabview-tp02 {
    .p-tabview-nav {
      border: 0;
      li {
        .p-tabview-nav-link {
          margin: 0;
          padding: 1rem;
          border-radius: 3rem;
          border: 0;
        }
      }
      .p-highlight {
        .p-tabview-nav-link {
          background: #eef2ff;
          color: #4338ca;
        }
      }
      .p-tabview-ink-bar {
        background: none;
      }
    }
  }
}
// width reset
.p-datepicker-monthpicker {
  position: absolute;
  width: 100px;
}

.rowReorderTable {
  tr {
    position: relative;
    .moveCell:before {
      font-family: 'primeicons';
      font-feature-settings: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      display: inline-block;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\e91d';
    }
    .p-datatable-reorderablerow-handle {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      cursor: move;
      opacity: 0;
    }
  }
}

.status_bar {
  .c_bar {
    margin: 0;
    flex: 1;
    height: 16px;
    background-color: #e0e0e0;
    border-radius: 3px;
    overflow: hidden;

    .c_state {
      display: inline-block;
      height: 100%;
      border-radius: 3px;
    }
  }
}

.page-view {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  th,
  td {
    padding: 10px 16px;
    border: 1px solid #ddd;
  }
  th {
    background-color: #eee;
  }
}

.card-detail {
  .field {
    align-items: center;
    min-height: 44px;
  }
  h6 {
    padding: 0 0 16px 0;
    border-bottom: 1px solid #ddd;
    font-weight: 800;
    font-size: 16px;
  }
}

